/* button style */
#scrollUp {
    background-image: url("../img/top.png");
    background-color: black;
    bottom: 10px;
    right: 10px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
    text-indent: -9999999px;
    display: block;
    border: 1px solid #fff;
}
